body {
  background-color: #CDF0EA;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 6%;
  border-color: #A8D8EA;
}
h1{
  color: #11999E;
  text-shadow: 1px 1px 1px black;
}
h3{
  color: #61C0BF;
  text-shadow: 0.5px 0.5px 0.5px black;
}
